<header class="header-desktop">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="header-wrap">
        <form class="form-header"></form>
        <div class="header-button">
          <div class="account-wrap">
            <div class="account-item clearfix js-item-menu">
              <div class="content">
                <a class="js-acc-btn" href="#">Usuario</a>
              </div>
              <div class="account-dropdown js-dropdown">
                <div class="info clearfix">
                  <div class="image">
                  </div>
                  <div class="content">
                    <h4>{{ user.username }}</h4>
                    <h5>{{ user.email }}</h5>
                  </div>
                </div>
                <div class="account-dropdown__footer">
                  <a href="usuario.php?option=logout">
                    <i class="zmdi zmdi-power"></i>Salir del sistema</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>